In [1]:
import pandas as pd
df = pd.read_csv("Admission_Predict.csv")

In [2]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df.sample(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
18,19,318,110,3,4.0,3.0,8.80,0,0.63
111,112,321,109,4,4.0,4.0,8.68,1,0.69
63,64,315,107,2,4.0,3.0,8.50,1,0.56
28,29,295,93,1,2.0,2.0,7.20,0,0.46
289,290,313,109,3,4.0,3.5,9.00,0,0.79

In [5]:
print(df.shape)

(400, 9)

In [6]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [7]:
print(df['GRE Score'].min())

290

In [8]:
# Data Pre-Processing
df.drop(["Serial No."],axis=1,inplace = True)

In [13]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [14]:
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [15]:
print(df['Chance of Admit '])

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [16]:
df=df.rename(columns = {'Chance of Admit ':'Chance of Admit'})
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [17]:
# X is features on which outcome is dependent
X=df.drop(["Chance of Admit"],axis=1)
X.shape

(400, 7)

In [18]:
print(X.head())

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [19]:
#y is outcome which we want to predict through Machine Learning
y=df["Chance of Admit"]
print(y)

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit, Length: 400, dtype: float64

In [20]:
#Now X and y is ready
#Now spilt the data in two parts: train data (320 rows) and test data (80 rows)
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test =train_test_split(X,y,test_size = 0.20)

In [21]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(400, 7)
(320, 7)
(80, 7)

In [22]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(400,)
(320,)
(80,)

In [23]:
print(X_train.head())

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
201        315          110                  2  3.5   3.0  8.46         1
136        312          103                  3  5.0   4.0  8.45         0
5          330          115                  5  4.5   3.0  9.34         1
95         304          100                  4  1.5   2.5  7.84         0
287        324          114                  5  5.0   4.5  9.08         1

In [24]:
from sklearn.preprocessing import MinMaxScaler

scalerX = MinMaxScaler(feature_range=(0, 1))

X_train[X_train.columns] = scalerX.fit_transform(X_train[X_train.columns])

X_test[X_test.columns] = scalerX.transform(X_test[X_test.columns])

print(X_train.head())

     GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  \
201       0.50     0.642857               0.25  0.625  0.500  0.453184
136       0.44     0.392857               0.50  1.000  0.750  0.449438
5         0.80     0.821429               1.00  0.875  0.500  0.782772
95        0.28     0.285714               0.75  0.125  0.375  0.220974
287       0.68     0.785714               1.00  1.000  0.875  0.685393

     Research
201       1.0
136       0.0
5         1.0
95        0.0
287       1.0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [25]:
#Only these three lines in Python will create a Machine Learning Model for you
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
y_predict = model.predict(X_test)

print (y_predict[0:5])
print(y_test[0:5])

[0.83807085 0.59946279 0.90357988 0.98019292 0.95669774]
311    0.84
323    0.62
361    0.93
385    0.96
34     0.94
Name: Chance of Admit, dtype: float64

In [27]:
#deployment of model
gre=int(input("What is your GRE Score (between 290 to 340):"))
toefl=int(input("What is your TOEFL Score (between 90 to 120):"))
univ=int(input("What is your University Rating ( 1 to 5 ):"))
sop=int(input("Rate your Statement of Purpose ( 1 to 5):"))
lor=int(input("What is strength of your Letter of Recommendation(1 to 5):"))
cgpa=int(input("What is your CGPA ( 6 to 10):"))
research=int(input("Do You have Research Experience (Enter 0for No and 1 for Yes:"))
newx=[[gre,toefl,univ,sop,lor,cgpa,research]]
newy=model.predict(newx)
print("Your Chance of Admission is: ",newy)

What is your GRE Score (between 290 to 340):320
What is your TOEFL Score (between 90 to 120):100
What is your University Rating ( 1 to 5 ):3
Rate your Statement of Purpose ( 1 to 5):4
What is strength of your Letter of Recommendation(1 to 5):2
What is your CGPA ( 6 to 10):8
Do You have Research Experience (Enter 0for No and 1 for Yes:0
Your Chance of Admission is:  [33.91277482]

In [29]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators = 100, random_state= 42)
rfr.fit(X_train,y_train)
y_predict_rfr = rfr.predict(X_test)
score_rfr=rfr.score(X_test, y_test)
print(score_rfr)

0.775303777665965

In [31]:
#decision tree regressor
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state = 42)
dtr.fit(X_train,y_train)
y_predict_dtr = dtr.predict(X_test)
score_dtr=dtr.score(X_test, y_test)
print(score_dtr)

0.5911584233652